@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
*{
	font-family: 'Poppins', sans-serif;
}
.moviePic{
	height: 200px;
	width: 150px;
	border-radius: 20px;
	margin: 20px;
	opacity: 0.9;
}
.movieDetail{
	margin: 20px;
}
#main{
	position: center;
	top: 50%;
	width: 500px;
	text-align: center;
	font-size: 12px;
	gap: 20px;
	background: lightcyan;
	border-radius: 30px;
	box-shadow: 1px 1px 5px;
}
